
:root {
    --raleway-font: 'Raleway', cursive; 
    --overlock-font: 'Overlock', cursive;
}

body {

	background-image: url("../todoList/imagenes/imagen1.jpg");
    min-height: 100vh; 
    z-index: -10;
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto;
    color: white;
    font-size: 1.3rem;		    
}
.checklist {
	position: absolute;
    min-height: 100vh;
    min-width: 100vw;
    top: 0;
    bottom: 0;
    background-color: rgba(31, 34, 118, 0.5);
}

h1 {
	
	margin-bottom: 0px;
	padding-bottom: 0px;
	font-family: var(--overlock-font);
}

.lead {
	font-size: 1.5rem;
	font-family: var(--overlock-font);
}
ul {
	margin-top: 2rem;
	list-style: circle;
}
li {
	border-bottom: 1px solid white;
	padding: 0.5rem 0 0.5rem 0;
	margin: 0 1rem 0 1rem;
}
.checkboxes {
	float: right;
	line-height: 12px;
	width: 17px;
	height: 17px;
	background-color: #e9ecef;
	border: 1px solid #e9ecef;
	border-radius: 3px;
}

/* -----LOGIN USER----*/

* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    background: url("../todoList/imagenes/imagen1.jpg");
    background-size: cover;
    background-attachment: fixed;
    font-family: var(--overlock-font);
}

.contenedor-form {
    background: rgba(0,0,0,.7);
    max-width: 500px;
    width: 100%;
    margin: 48px auto;
    border-radius: 5px;
    color: #fff;
    position: relative;
    /*padding: 40px;*/
}

.contenedor-form .toggle {
    position: absolute;
    top: 7px;
    right: 7px;
    width: 100px;
    height: 30px;
    font-size: 12px;
    line-height: 25px;
    text-align: center;
    border-top: 2px solid  rgba(31, 34, 118, 0.5);
    border-bottom: 2px solid  rgba(31, 34, 118, 0.5);
    cursor: pointer;
    transition: all .5s ease;
}

.contenedor-form .toggle:hover {
    border-top: 2px solid #8D18AD;
    border-bottom: 2px solid #8D18AD;
}

.contenedor-form .toggle span {
    letter-spacing: 1px;
}

.contenedor-form h2 {
    margin: 0 0 28px 0;
    font-size: 20px;
    font-weight: 400;
    line-height: 1;
}
.contenedor-form input[type="text"],
.contenedor-form input[type="password"],
.contenedor-form input[type="email"] {
    outline: none;
    display: block;
    width: 100%;
    padding: 10px 15px;
    margin: 0 0 20px 0;
    background: rgba(0,0,0,.5);
    color: #fff;
    border: none;
    border-radius: 2px;
    border-bottom: 4px solid  rgba(31, 34, 118, 0.5);
    box-sizing: border-box;
    font-family: Roboto;
    font-size: 14px;
    font-weight:normal;
    transition: all .5s ease;
}

.contenedor-form input[type="text"]:focus,
.contenedor-form input[type="password"]:focus,
.contenedor-form input[type="email"]:focus {
    border-bottom: 4px solid #8D18AD;
}

.contenedor-form input[type="submit"] {
    background:  rgba(31, 34, 118, 0.5);
    color: #FFF;
    width: 100%;
    border: none;
    padding: 10px 0;
    font-size: 16px;
    font-weight: normal;
    font-family: Roboto;
    letter-spacing: 1px;
    cursor: pointer;
    transition: all .5s ease;
}

.contenedor-form input[type="submit"]:hover {
    background: #8D18AD;
}

.contenedor-form .reset-password {
    background: #8D18AD;
    width: 100%;
    padding: 15px 0;
    text-align: center;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.contenedor-form .reset-password a {
    color: #fff;
    text-decoration: none;
    font-size: 16px;
}

.contenedor-form .formulario {
    display: none;
    padding: 40px;
}

.contenedor-form .formulario:nth-child(2) {
    display: block;
}